<!-- templates/footer.html -->
<div th:fragment="footer">
    <footer class="bg-dark text-white mt-5 py-4">
        <div class="container text-center">
            <p class="mb-1">&copy; 2025 Code-Crafter. All rights reserved.</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#" class="text-white ">Privacy Policy</a></li>
                <li class="list-inline-item"><a href="#" class="text-white ">Terms of Service</a></li>
                <li class="list-inline-item"><a href="#" class="text-white ">Contact</a></li>
            </ul>
        </div>
    </footer>
</div>